* {
  box-sizing: border-box;
}

html,
body {
  background-color: #15213a;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  border-bottom: 1px solid rgb(37, 78, 167);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}

a {
  color: #282c34;
  text-decoration: none;
}

h1 {
  margin: 10px auto;
}
h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}

input {
  margin: 5px;
}

label {
  font-size: 16px;
}

button {
  background-color: rgb(25, 95, 175);
  border: 1px solid rgba(19, 60, 136, 0.705);
  border-radius: 20px;
  color: aliceblue;
  font-size: 12px;
  padding: 5px 10px;
}

.login {
  border: 2px solid rgba(28, 80, 175, 0.705);
  border-radius: 20px;
  font-size: 16px;
  margin: 10px auto;
  max-width: 600px;
  padding: 10px 10px;
}

.create-account {
  margin: 20px auto;
  max-width: 600px;
  padding: 10px 10px;
}

.logo {
  width: 100px;
}

.avatar {
  width: 100px;
}

.avatar-big {
  width: 200px;
}

.how-to-apply {
  border: 2px solid rgb(33, 73, 206);
  border-radius: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.icons {
  width: 20px;
}

.f-red {
  color: rgb(170, 2, 2);
}

.f-small {
  font-size: 10px;
}

.f-shadow-big {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.f-shadow-med {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 3px 0 #b9b9b9,
    0 3px 0 #aaa, 0 3px 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.2),
    0 5px 5px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.2),
    0 8px 8px rgba(0, 0, 0, 0.15);
}

.f-shadow-tiny {
  text-shadow: 0 1px 0 #ccc, 0 1px 0 #c9c9c9, 0 1px 0 #bbb, 0 1px 0 #b9b9b9,
    0 1px 0 #aaa, 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.15);
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.f-light {
  color: aliceblue;
}

.f-dark {
  color: rgb(4, 28, 49);
}

.b-blue {
  border: 2px solid rgb(33, 73, 206);
  border-radius: 5px;
}

.job-details {
  background-color: #fff;
  border-radius: 5px;
  color: #15213a;
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.back-button {
  margin: 30px auto;
}

.block {
  display: block;
}

.in-line {
  display: inline-block;
}

/* Pop-up instruction for icons */
.img__wrap {
  position: relative;
  margin: auto;
  width: 150px;
}

.img__description {
  position: absolute;
  background: rgba(2, 94, 155, 0.72);
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  opacity: 0;
  padding: 5px;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/* Card Styling */

.card {
  background-color: aliceblue;
  border: 2px solid rgba(27, 41, 78, 0.527);
  border-radius: 5px;
  margin: 20px auto 0px;
  max-width: 600px;
}

.card-header {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.card-body {
  background-color: white;
  padding: 20px;
}

.deck-root {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.deck-root > .wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-root > .wrapper > .card {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 200px;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(14, 14, 22, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
